{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    {% for article in category.articles %}

        <div class="card" style="width: 18rem;">
            {% if article.images is not empty %}
                {% for image in article.images %}
                    {% include 'image.html.twig' with  {
                        'route_name':'',
                        'imgClass':'',
                        'image':image,
                        'param':{},
                        'aClass':''} %}
                {% endfor %}
            {% else %}
                <a href="#" class="">
                    <div class="imageAdded">
                        <img src="{{ asset('image/fond2.png') }}" alt="image de fond">

                    </div>
                </a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content }}</p>
                <a href="{{ path('show_article',{'id':article.id}) }}" class="btn btn-primary">show</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
