{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

{% extends 'client/base.html.twig' %}

{% block title %}Hello NemController!{% endblock %}
{% block body %}
    <div class="editProfilContainer centered" {{ stimulus_controller('profil',{'page':'editProfil'}) }}
         data-profil-has-image-value="{{ app.user.image ? 'true' : 'false' }}">
        {{ form_start(form,{'action':path('add_image_user',{'id': app.user.id})}) }}

        <div class="inputContainer">
            {% if app.user.image %}
                {% include 'component/imageFilter.html.twig' with  {
                    'route_name':'',
                    'imgClass':'newProfilImage',
                    'image':app.user.image,
                    'param':null,
                    'aClass':'',
                    'filter':'apercu_image'} %}
            {% else %}
                <img class="imageProfil"
                     src="{{ asset('images/imgProfil.png') }}"
                     alt="" {{ stimulus_target('profil','imgDefaultProfil') }}>
            {% endif %}
            <img id="imagePreview" {{ stimulus_target('profil','imagePreview') }} src="" alt="Aperçu de l'image"
                 style="display: none;">


        </div>
        <div id="inputError" style="color: red;" {{ stimulus_target('profil','error') }}></div>

        <div class="inputContainer">

            {{ form_widget(form.imageFile ,{'attr':{'data-profil-target':'inputDropzone','data-action':'change->profil#preview'}} ) }}

        </div>
        <div class="buttonContainer">
            <a class="btnGrey" href="{{ path('user_update') }}">Revenir en arriere</a>

            <button class="btnGreen" {{ stimulus_action('profil','validate','click')|stimulus_target('profil','update') }}>
                Valider
            </button>
            <a class="btnGrey" href="{{ path('show_user',{'id':app.user.id}) }}">Terminé</a>

        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
