{% extends './client/base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    {% if app.user %}
        <div id="profile" class="flex-col-between"
             data-follow-id-value="{{ user.id }}" {{ stimulus_controller('follow',{'page':'show'}) }}>
            <div class="profile__header">
                <div class="user-info">
                    <div class="icon">
                        {% if user.image %}
                            {% include 'component/image.html.twig' with  {
                                'route_name':'',
                                'imgClass':'',
                                'image':user.image,
                                'param':null,
                                'filter': 'ma_vignette',
                                'aClass':'imageProfil'} %}
                        {% else %}

                            <img class="imageProfil"
                                 src="{{ asset('images/imgProfil.png') | imagine_filter('ma_vignette') }}"
                                 alt="">

                        {% endif %}
                    </div>
                    <div class="flex-col description"
                         data-follow-id-value="{{ user.id }}">
                        <h3>{{ user.username }}</h3>
                        <p class="sub-text">
                            {{ user.description }} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                            commodi corporis eaque, facilis libero maiores perspiciatis quod repudiandae tempora
                            voluptatibus!
                        </p>
                        {% if user == app.user %}
                            <a href="{{ path('app_logout') }}" id="logoutBtn"><i class="bi bi-box-arrow-right"></i></a>
                        {% endif %}
                        {% if user != app.user %}
                            {% if user.isFollowedBy(app.user) %}
                                <button class="btnViolet" {{ stimulus_action('follow','unfollow','click') }}>
                                    <a href="{{ path('show_user',{'id':user.id}) }}">Unfollow</a></button>

                            {% else %}
                                <button class="btnViolet" {{ stimulus_action('follow','follow','click') }} ><a
                                            href="{{ path('show_user',{'id':user.id}) }}">Suivre</a>
                                </button>

                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="profil__name_descripton-mobil">
                <h3>{{ user.username }}</h3>
                <p class="sub-text">
                    {{ user.description }} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                    commodi corporis eaque, facilis libero maiores perspiciatis quod repudiandae tempora
                    voluptatibus!
                </p>
                {% if user == app.user %}
                    <a href="{{ path('app_logout') }}" id="logoutBtn"><i class="bi bi-box-arrow-right"></i></a>
                {% endif %}
            </div>

            <div class="flex-row-between profile__content">

                <div class="flex-col left-side" {{ stimulus_controller('stats') }} data-stats-user-id-value="{{ user.id }}">
                    <div class="flex-col statistics">
                        <h4>Statistics</h4>
                        <div class="flex-row statistics__content">
                            <div class="flex-row profilStat">
                                <h5> Followers </h5>
                                <p class="data">  {{ user.followers|length}}</p>
                            </div>
                            <div class="flex-row profilStat">
                                <h5> Followings </h5>
                                <p class="data">  {{ user.followings|length }}</p>

                            </div>
                        </div>
                        <div class="flex-row statistics__content">

                            <div class="flex-row profilStat">
                                <h5> Likes </h5>
                                <p class="data"> {{ totalLikes }}</p>

                            </div>
                            <div class="flex-row profilStat">
                                <h5> Posts </h5>
                                <p class="data"> {{ user.bloops|length }}</p>
                            </div>
                        </div>
                        <div class="flex-col statistics__content">
                            <div class="flex-row statistiques-header" >
                                <h4 class="titleStatistique" {{ stimulus_target('stats','title') }}></h4>
                                <div class="buttonBidirectionnelCalendrier">
                                    <button data-action="click->stats#getLastMonthly"><i class="bi bi-chevron-compact-left"></i></button>
                                    <button data-action="click->stats#statsOfOneMonth"><i class="bi bi-arrow-clockwise"></i></button>
                                    <button data-action="click->stats#getNextMonthly"><i class="bi bi-chevron-compact-right"></i></button>

                                </div>
                            </div>
                            <canvas id="myChart" {{ stimulus_target('stats','chart') }}></canvas>

                        </div>
                        <div class="flex-row statistics__content">
                              {% if app.user == user %}

                                <button class="btnViolet"><a
                                            href="{{ path('user_update') }}">Modifier mes informations</a></button>

                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="v-devider"></div>
                <hr class="h-devider">
                <div class="close-friends ">
                    <div class="flex-row">
                        <h4 class="followers focus" {{ stimulus_action('follow','followers','click') }}  {{ stimulus_target('follow','followers') }} >
                            Followers</h4><h4
                                class="followings" {{ stimulus_action('follow','followings','click') }} {{ stimulus_target('follow','followings') }} >
                            Followings</h4>
                        <h4 {{ stimulus_action('follow','friends','click') }} {{ stimulus_target('follow','friends') }}
                                class="friends">Friends</h4>
                    </div>

                    <div class="flex-col">
                        <div class="flex-row-between flex-wrap friendsContainer" data-follow-target="relationContainer">
                            <span {{ stimulus_target('follow','message') }}></span>
                        </div>
                    </div>
                </div>
            </div>
            {% if app.user == user %}
                <div class="flex-row profilContainer updateMdpContainer toggleUpdateMdp" {{ stimulus_controller('change-psw')|stimulus_controller('visibility') }}>

                    <div class="inputContainer">
                        <h4>Modification de mot de passe</h4>
                        <div id="inputError"
                             style="color: red;" {{ stimulus_target('change-psw','error')|stimulus_target('visibility','error') }}></div>

                        <div class="modificationInputs">
                            <div class="mdpInput">
                                <h3>Ancien mot de passe</h3>
                                <input type="password" name="lastMdp"
                                       data-action="change->change-psw#lastFct focus->change-psw#lastFocus"
                                       data-change-psw-target="last">
                            </div>
                            <div class="mdpInput">
                                <h3>Nouveau mot de passe</h3>
                                <input type="password" name="newMdp" data-action="change->change-psw#passwordFct"
                                       data-change-psw-target="psw" {{ stimulus_target('visibility','fieldPs') }}>
                                <div class="password-icon">
                                    <i class="bi bi-eye bi-eyeNewPassword" {{ stimulus_target('visibility','eye0ps')|stimulus_action('visibility','eyeClose','click') }}></i>
                                    <i class="bi bi-eye-slash-fill bi-eyeNewPasswordFill" {{ stimulus_target('visibility','eye1ps')|stimulus_action('visibility','eyeOpen','click') }}></i>
                                </div>
                            </div>
                            <div class="mdpInput">
                                <h3>Confirmation du mot de passe</h3>
                                <input type="password" name="confirmNewMdp" data-action="change->change-psw#verifyMatch"
                                       data-change-psw-target="confirm" {{ stimulus_action('change-psw','confirmFocus','click') }}>
                            </div>
                            <button type="submit" class="btnViolet" data-action="click->change-psw#confirmFct"
                                    data-change-psw-target="valider">Save
                            </button>

                        </div>

                    </div>
                    <div class="notifications-container">
                        <div class="success">
                            <div class="flex">
                                <div class="flex-shrink-0">

                                    <svg class="succes-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                         fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="success-prompt-wrap">
                                    <p class="success-prompt-heading">Changement de mot de passe confirmé !
                                    </p>
                                    <div class="success-prompt-prompt">
                                        <p>Vous avez bien modifier votre mot de passe ! J'espère que le service vous a
                                            plu. Vous allez être déconnecter. </p>
                                    </div>
                                    <div class="success-button-container">
                                        <button type="button" class="success-button-main"><a
                                                    href="{{ path('app_logout') }}">Tester
                                                le mot de passe</a></button>
                                        <button type="button" data-action="click->change-psw#closePanel"
                                                class="success-button-secondary">
                                            Fermer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    {% endif %}

{% endblock %}
