{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

<nav class="main-navbar " {{ stimulus_target('mobil','mainNavbar') }} >
    <div class="logoContainer" {{ stimulus_target('mobil','logoContainer') }}>
        <img class="imgNavbar" src="{{ asset('images/logo.png') }}" alt="Logo de BLOOPS">
        <h1 class="bloopsTitle">Bloops</h1>
    </div>
    <ul {{ stimulus_target('mobil','optionsNavbar') }}>
        <a class="nav-link nav-home  {% if currentPath == '/' %} active {% endif %} " aria-current="page"
           href="{{ path('app_home') }}" >Home</a>

        <a class="nav-link nav-flow {% if currentPath == '/bloop' %} active {% endif %}  " aria-current="page"
           href="{{ path('app_bloop') }}">Your flow</a>
        <a class="nav-link nav-podcast {% if currentPath == '/podcast' %} active {% endif %}  " aria-current="page"
           href="{{ path('app_podcast') }}">Podcast</a>
        {% if app.user %}
            <a class="nav-link nav-account {% if currentPath == '/user/account' %} active {% endif %}  "
               aria-current="page"
               href="{{ path('show_user',{'id':app.user.id}) }}"> Your account</a>
        {% else %}
            <a class="nav-link nav-account  " aria-current="page"
               href="{{ path('app_register') }}">Se connecter</a>
        {% endif %}

        <a class="nav-link nav-new {% if currentPath == '/bloop/new' %} active {% endif %}  " aria-current="page"
           href="{{ path('app_poster') }}">+</a>

{#

        {% if app.user %}
            {% if 'ROLE_ADMIN'in app.user.roles %}
                <a class="nav-link" href="{{ path('app_user') }}">users</a>

                <a class="nav-link" href="{{ path('admin_app_category') }}">category</a>

            {% endif %}
        {% endif %}
#}
{{ currentPath }}

    </ul>


</nav>
{% if currentPath == '/bloop' or  currentPath == '/podcast'  %}
<button class="nav-link nav-burger-friends" {{ stimulus_action('mobil','toggleFriends','click')|stimulus_target('mobil','friendOption')}} aria-current="page"><i class="bi bi-people-fill"></i></button>
{% endif %}
<button class="nav-link nav-burger" {{ stimulus_action('mobil','toggle','click')|stimulus_target('mobil','burgerOption')}} aria-current="page"><i class="bi bi-list"></i></button>
