
<a
      {% if route_name!= '' %}
        href="{{ path(route_name,param) }}"
        {% endif %}
        class="{{ aClass }}">
    <div class="">
        <video controls class="{{ videoClass }}" {{ attributs }}>
            <source src="{{ vich_uploader_asset(video)}}">
        </video>

    </div>
</a>



{#


TO CALL IT USE :


    {% if bloop.videos is not empty %}
        {% for video in bloop.videos %}
            {% include 'video.html.twig' with  {
                'route_name':'',
                'videoClass':'imageAdded ',
                'video':video,
                'param':'',
                'attributs':'',
                'aClass':''} %}
        {% endfor %}
    {% endif %}


}#}
