
<a
      {% if route_name!= '' %}
        href="{{ path(route_name,param) }}"
        {% endif %}
        class="{{ aClass }}">
        <div class="{{ imgClass }}">
            <img src="{{ vich_uploader_asset(image) | imagine_filter(filter)}}" alt="{{ image.imageName }}">

        </div>
</a>


