{% extends 'base.html.twig' %}

{% block title %}Hello NemController!{% endblock %}
{% form_theme formCategory 'bootstrap_5_layout.html.twig' %}
{% form_theme formCategoryForArticles 'bootstrap_5_layout.html.twig' %}
{% block body %}
<div class="containerMade">
    <header>
        <div class="">
            <p>Si vous souhaitez que votre article apparaisse parmi les autres articles disponibles, veuillez ajouter
                une image avec un titre approprié. Sinon, il ne sera pas référencé et ne sera accessible que depuis
                votre profil.</p>
        </div>
    </header>



    <p></p>

    <div class="addCategoryToImageContainer">
        <div class="selectCategoryForImage">

            {{ form_start(formCategoryForArticles,{'action': path('new_category_article',{'id':article.id})}) }}
            {{ form_row(formCategoryForArticles.categories) }}
            <button class="btn btnBleu btn-success" type="submit">Valider</button>

            {{ form_end(formCategoryForArticles) }}
        </div>
        <div class="addNewCategory">
            {{ form_start(formCategory,{'action': path('new_category_article',{'id':article.id})}) }}
            {{ form_row(formCategory.name) }}

            <button class="btn btnBleu btn-success">Ajouter la catégorie</button>
            {{ form_end(formCategory) }}
        </div>


    </div>

</div>
    <script src="{{ asset('js/addCategory.js') }}"defer></script>
{% endblock %}
