{% extends 'base.html.twig' %}

{% block title %}Hello NemController!{% endblock %}
{% form_theme formArticle 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <header>
        <div class="">
            <p>Si vous souhaitez que votre article apparaisse parmi les autres articles disponibles, veuillez ajouter
                une image avec un titre approprié. Sinon, il ne sera pas référencé et ne sera accessible que depuis
                votre profil.</p>
        </div>
    </header>



    <p></p> {{ form_start(formArticle) }}

    <div class="fileFormContainerCreateArticle">
          <div class="createArticleSimpleInformations">

            {{ form_row(formArticle.title) }}
            {{ form_row(formArticle.chapo) }}
            {{ form_row(formArticle.note) }}
            {{ form_row(formArticle.displayComments) }}

        </div>
         <div class="createArticleSections">
            <fieldset>
                <legend>Premier partie</legend>
                {{ form_row(formArticle.first_subtitle) }}
                {{ form_row(formArticle.first_paragraphe) }}

            </fieldset>
            <fieldset>
                <legend>Deuxième partie</legend>
                {{ form_row(formArticle.second_subtitle) }}
                {{ form_row(formArticle.second_paragraphe) }}

            </fieldset>
            <fieldset>
                <legend>Troisième partie</legend>
                {{ form_row(formArticle.third_subtitle) }}
                {{ form_row(formArticle.third_paragraphe) }}

            </fieldset>
        </div>

    </div>

        <button type="submit" class="btn nextButton btn-success">Suivant</button>
        {{ form_end(formArticle) }}


    <script src="{{ asset('js/addCategory.js') }}"></script>
{% endblock %}
