{% extends 'base.html.twig' %}

{% block title %}Hello NemController!{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="containerMade">
    <header>
        {% for image in article.images %}
            {% include 'imageFilter.html.twig' with  {
                'route_name':'delete_image',
                'imgClass':'imageAdded',
                'image':image,
                'param':{'id':image.id},
                'aClass':'',
                'filter':'apercu_image'}%}
        {% endfor %}


    </header>
    <div>
        {{ form_start(form) }}
        <div class="fileFormContainerCreateArticle">
            <div class="createArticleSimpleInformations">

                {{ form_row(form.title) }}
                {{ form_row(form.chapo) }}
                {{ form_row(form.note) }}
                {{ form_row(form.displayComments) }}

            </div>
            <div class="createArticleSections">
                <fieldset>
                    <legend>Premier partie</legend>
                    {{ form_row(form.first_subtitle) }}
                    {{ form_row(form.first_paragraphe) }}

                </fieldset>
                <fieldset>
                    <legend>Deuxième partie</legend>
                    {{ form_row(form.second_subtitle) }}
                    {{ form_row(form.second_paragraphe) }}

                </fieldset>
                <fieldset>
                    <legend>Troisième partie</legend>
                    {{ form_row(form.third_subtitle) }}
                    {{ form_row(form.third_paragraphe) }}

                </fieldset>
            </div>

        </div>

        <button class="btn btn-success">okay ! LEtsgo</button>
        <a href="{{ path('new_category_article',{'id':article.id}) }}" class="btn btn-primary">Ajouter des categories</a>
        <a href="{{ path('article_file',{'id':article.id}) }}" class="btn btn-primary">Ajouter des fichier</a>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
