{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="containerMade">
    <div class="articleContainer">
        {% for user in users %}
            <div class="art art{{ loop.index  }}">
                <a href="{{ path('delete_user',{"id":user.id}) }}">
                    <h3>{{ user.email }}</h3>
                    <h3>{{ user.username }}</h3>
                    <p>{{ user.roles[0] }}</p>

                </a>

            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}

